@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --blackColor: #050505;
    --orangeColor: #f49516;
    --lightColor: #fff;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}

/* Nav */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--lightColor);
    border-bottom: 1px solid #05050513;
    height: 10vh;
}

.container {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}

.container-flex {
    display: flex;
}

header .container-flex {
    justify-content: space-between;
    align-items: center;
}

#title {
    color: var(--greenishColor);
}

#title i {
    color: var(--orangeColor);
    margin-right: 0.2em;
    font-size: 2.5rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 4em;
}

#main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    list-style: none;
}

#main-nav a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--greenishColor);
}

#main-nav a:after {
    transition: all ease-in-out .2s;
    background: var(--orangeColor);
    content: "";
    display: block;
    height: 3px;
    width: 0;
}

#main-nav a:hover:after {
    width: 100%;
}

#user-btns {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

#sign-in-btn {
    display: inline-block;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    background: none;
    border: none;
    padding: 0.8em 1.2rem;
    color: var(--blackColor);
    cursor: pointer;
}
#sign-in-btn:hover {
    color: var(--orangeColor);
}

#sign-up-btn {
    display: inline-block;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid var(--orangeColor);
    background: linear-gradient(to left, var(--lightColor) 50%, var(--orangeColor) 50%) right;
    background-size: 200%;
    padding: 0.8em 1.2rem;
    border-radius: 0.5rem;
    color: var(--orangeColor);
    cursor: pointer;
    transition: .3s ease-out;
}

#sign-up-btn:hover {
    background-position: left;
    color: var(--lightColor);
}

/* Main */
main .container-flex {
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
}

main img {
    width: 60%;
    align-self: flex-start;
}

#banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    padding: 2rem;
}

#banner-content h1 {
    font-size: 3.5rem;
    color: var(--orangeColor);
    text-align: center;
}

#banner-content a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0.8em;
    background: var(--lightColor);
    color: var(--orangeColor);
    border: 2px solid var(--orangeColor);
    border-radius: 0.5rem;
    transition: all ease-in .2s;
}

#banner-content a:hover {
    background: var(--orangeColor);
    color: var(--lightColor);
}

/* Trending Cryptos */
#trending-cryptos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48.4vh;
}

#trending-cryptos .container-flex {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    column-gap: 1em;
}

.crypto-card {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    font-size: 1.5rem;
    padding: 1rem;
    height: 90%;
    width: 80%;
    background: rgb(250, 250, 250);
    border-radius: 1rem;
    transition: all ease-in-out 0.2s;
}
.crypto-card:hover {
    background: var(--lightColor);
    box-shadow: 0 0 2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.main-card {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    justify-content: left;
    align-items: center;
}

.main-card h1 {
    display: inline;
    font-size: 0.8em;
}

.crypto-icon {
    display: inline;
    width: 36px;
}

.crypto-name {
    font-weight: 400;
    color: var(--orangeColor);
}

/* The chart div is supposed to contain the graphs of the cryptos
but they will be put later */
.chart {
    height: 40%;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 0.5rem;
}
.card-info p {
    display: flex;
    justify-content: space-between;
}

.stats {
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
}

.info {
    font-weight: 500;
    font-size: 1.2rem;
}

.change-num {
    color: red;
}

.buy-btn {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    padding: 0.5rem;
    background: var(--orangeColor);
    color: var(--lightColor);
    border-radius: 0.3rem;
    transition: all ease-in-out 0.2s;
}
.buy-btn:hover {
    background: #fea634;
}