:root {
    --primary-color: #030303;
    --secondary-color: whitesmoke;
    --light-color: #f0f0f0;
    --max-width: 1500px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

/* Utility Classes */
.container {
    max-width: var(--max-width);
    margin: auto;
    overflow: hidden;
}

.btn {
    display: inline-block;
    background: var(--primary-color);
    padding: 1rem 1.5rem;
    color: var(--secondary-color);
    border: none;
    transition: all 0.2s ease-in-out;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: var(--primary-color);
    color: var(--secondary-color);
    z-index: 1;
    padding: 0.7rem 10rem;
}

#nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-left #logo {
    margin-right: 1rem;
    align-self: center;
    color: rgb(226, 225, 225);
    cursor: pointer;
}

#nav-left #logo:hover {
    color: whitesmoke;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar a {
    color: #fff;
    padding: 0.5rem;
    margin: 0 0.25rem;
    transition: all 0.2s ease-in-out;
}

#navbar a:hover {
    background: #272727;
}

#navbar .fas {
    padding: 0 0.5rem;
}

#search {
    padding: 5px;
    background: rgb(5, 5, 5);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
}

/* Showcase */
#showcase {
    background: url('../img/http___hypebeast.com_image_2016_08_air-jordan-xxxi-a-closer-look-at-the-banned-sneaker-05.jpg') no-repeat center center/cover;
    height: 93.7vh;
    color: whitesmoke;
}

#showcase .showcase-content {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0 2rem;
}

.showcase-content .showcase-model {
    position: absolute;
    text-align: right;
    font-size: 6rem;
    top: 8rem;
    right: 10rem;
}

.showcase-content #showcase-btn {
    display: inline-block;
    align-self: flex-end;
    position: absolute;
    top: 87%;
    background: var(--primary-color);
    padding: 1rem 1.5rem;
    font-size: 2rem;
    color: var(--secondary-color);
    border: none;
    transition: all 0.1s ease-in-out;
}

/* Trending */
#home-trending {
    background: var(--light-color);
    text-align: center;
}

#home-trending #trending-text {
    padding: 3rem 0;
    font-size: 3rem;
}

#home-trending .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    padding: 0 0 3rem 0;
}

#home-trending .trending-shoes {
    padding: 1rem 1rem;
    background: white;
}

#home-trending .trending-shoes a {
    color: var(--primary-color);
}

/* Store Info */
#store-info .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: 3rem 0;
}

#store-info .container-stores p {
    height: 84px;
}

#store-info .container-stores img {
    width: 100%;
}

#store-info .container-history img {
    width: 100%;
}

#store-info h3 {
    padding-top: 1rem;
}

/* Footer */
footer {
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 2rem 0 1rem 0;
}

footer .container {
    display: grid;
    grid-template-areas: 
    'su am au sm'
    'cr cr cr cr';
    grid-gap: 2rem;
    grid-template-columns: 2fr repeat(3, 1fr);
    text-align: left;
}

#sign-up {
    grid-area: su;
    padding-right: 1rem;
}

#sign-up a {
    color: gray;
    text-decoration: underline;
}

#account-menu {
    grid-area: am;
}

#about-us {
    grid-area: au;
}

#social-media {
    grid-area: sm;
}

#social-media i {
    padding-right: 0.5rem;
}

#copyright {
    grid-area: cr;
    text-align: center;
    border-top: var(--secondary-color);
}

#account-menu ul,
#about-us ul,
#social-media ul
{
    list-style: none;
}


#account-menu ul li,
#about-us ul li,
#social-media ul li
{
    padding: 0.5rem 0;
}

#account-menu a,
#about-us a,
#social-media a
{
    color: var(--secondary-color);
}

#account-menu a:hover,
#about-us a:hover,
#social-media a:hover
{
    text-decoration: underline;
}

footer .email {
    padding: 0.3rem 0.1rem;
    width: 15rem;
}

footer #footer-btn {
    display: inline-block;
    background: var(--primary-color);
    padding: 0.7rem 0.5rem;
    color: var(--secondary-color);
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.formal-info a {
    color: var(--secondary-color);
    text-decoration: underline;
}



